#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define LWR 1
#define RSE 2
#define GME 3
#define GSH 4

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC   &kp Q  &kp W  &kp E  &kp R  &kp T               &kp Y  &kp U  &kp I     &kp O   &kp P    &kp NUBS
                &kp TAB   &kp A  &kp S  &kp D  &kp F  &kp G               &kp H  &kp J  &kp K     &kp L   &kp SEMI &kp SQT
                &kp LCTRL &kp Z  &kp X  &kp C  &kp V  &kp B               &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHIFT
                                 &kp LBKT &kp RBKT                                      &kp MINUS &kp EQUAL
                                            &mo LSHFT  &kp RETURN         &kp BSPC  &kp SPACE
                                            &mo RSE    &kp LALT           &kp DEL   &mo LWR
                                            &kp HOME   &kp GRAVE          &kp LGUI  &kp END
            >;
        };

        lower_layer {
            bindings = <
                &to GME &trans    &trans    &trans   &trans    &trans              &trans &kp N7 &kp N8 &kp N9 &trans &trans
                &trans  &kp EXCL  &kp AT    &kp HASH &kp DLLR  &trans              &trans &kp N4 &kp N5 &kp N6 &trans &trans
                &trans  &kp PRCNT &kp CARET &kp AMPS &kp STAR  &trans              &trans &kp N1 &kp N2 &kp N3 &trans &trans
                                  &trans    &trans                                               &kp N0 &trans
                                                     &trans &trans                 &trans &trans
                                                     &trans &trans                 &trans &trans
                                                     &trans &trans                 &trans &trans
            >;
        };

        raise_layer {
            bindings = <
                &trans  &trans &trans &trans &trans &trans                &trans &trans &trans &trans &trans &kp K_VOL_UP
                &trans  &trans &trans &trans &trans &trans                &trans &trans &trans &trans &trans &kp K_VOL_DN
                &trans  &trans &trans &trans &trans &trans                &trans &trans &trans &trans &trans &kp K_MUTE
                               &trans &trans                                            &trans &trans
                                             &mo ADJ &trans               &trans &trans
                                             &trans  &trans               &trans &trans
                                             &trans  &trans               &trans &trans
            >;
        };

        game_layer {
            bindings = <
                &kp ESC   &kp N1    &kp Q    &kp W  &kp E  &kp R                 &trans &trans &trans &trans &trans &kp K_VOL_UP
                &kp TAB   &kp LSHFT &kp A    &kp S  &kp D  &kp F                 &trans &trans &trans &trans &trans &kp K_VOL_DN
                &kp LCTRL &kp N2    &kp Z    &kp X  &kp C  &kp V                 &trans &trans &trans &trans &trans &kp K_MUTE
                                    &kp LBKT &kp RBKT                                          &trans &trans
                                             &kp SPACE &kp T                     &trans &trans
                                             &mo GSH  &LALT                      &trans &trans
                                             &trans  &trans                      &trans &trans
            >;
        };

        game_shift {
            bindings = <
                &to DEFAULT &trans &trans      &kp UP   &trans    &trans                &trans &trans &trans &trans &trans &kp K_VOL_UP
                &trans      &trans &kp LEFT    &kp DOWN &kp RIGHT &trans                &trans &trans &trans &trans &trans &kp K_VOL_DN
                &trans      &trans &kp K_MUTE  &kp K_VOL_DN   &kp K_VOL_UP    &trans                &trans &trans &trans &trans &trans &kp K_MUTE
                                    &trans &trans                                                   &trans &trans
                                             &mo ADJ &trans                           &trans &trans
                                             &trans  &trans                           &trans &trans
                                             &trans  &trans                           &trans &trans
            >;
        };

    };
};
